@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>

<h2>Comprar ou vender produtos em lojas virtuais.</h2>
<h4>Comércio que realiza suas transações financeiras por meio de dispositivos e plataformas eletrônicas, como computadores e celulares.</h4>

<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
